<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Moja Aplikacja{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <a href="{{ url_for('index') }}">Strona główna</a> |
        <a href="{{ url_for('new_quiz') }}">Dodaj nowy zestaw</a> |
        <a href="{{ url_for('logout') }}">Wyloguj się</a>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
