{% extends "base.html" %}

{% block content %}
{% if quizzes %}
    <div class="container my-4">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for quiz in quizzes %}
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ quiz.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ quiz.category }}</h6>
                        <p class="card-text mb-1">
                            <strong>Utworzony przez:</strong> {{ quiz.user.name if quiz.user else 'Nieznany' }}
                        </p>
                        <p class="card-text mb-1">
                            <strong>Utworzono:</strong> {{ quiz.created_at.strftime('%Y-%m-%d %H:%M') }}
                        </p>
                        <p class="card-text">
                            <strong>Ilość pytań:</strong> {{ quiz.questions|length }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Nie znaleziono quizów.</p>
    {% endif %}
    </div>
{% endblock %}