<h1>Game Code: {{ game_code }}</h1>
<h2>Quiz ID: {{ quiz_id }}</h2>
<input id="name" placeholder="Your Name">
<button onclick="startGame()">Start Game</button>

<ul id="players"></ul>

<script src="//cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
let socket = io();
let code = "{{ game_code }}";
const quizId = "{{ quiz_id }}";

const hostName = "Host"; 
socket.emit("join_game", { name: hostName, game_code: code });


function startGame() {
    socket.emit("start_game", {game_code: code, quiz_id: quizId});
}

socket.on("player_joined", data => {
    let li = document.createElement("li");
    li.innerText = data.name;
    document.getElementById("players").appendChild(li);
});


socket.on("next_question", data => {
    alert("Next Question: " + data.q);
});
</script>
