<input id="name" placeholder="Your Name">
<input id="code" placeholder="Game Code" oninput="code = this.value">
<button onclick="joinGame()">Join</button>

<ul id="players"></ul>

<script src="//cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
let socket = io();
let code = "";

function joinGame() {
    let name = document.getElementById("name").value;
    socket.emit("join_game", { name: name, game_code: code });
}

socket.on("game_started", data => {
    window.location.href = `/question/${data.quiz_id}/0`;
});


socket.on("next_question", data => {
    alert("Next Question: " + data.q);
});
</script>